body {
    background-color: beige;
}

.ex1 {
    background-color: rgb(80, 41, 12);
    display: flex;
    gap: 30px;
}

.ex1 div {
    background-color: chocolate;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    align-content: center;

}

@media (max-width: 600px) {
    .ex1 {
        align-items: center;
        flex-direction: column;
    }
}